@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  font-family: "Varela Round", sans-serif;
  background-color: black;
}

.content-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
}

.title {
  text-align: center;
  color: #00838f;
}

.description,
.anime-title,
footer p {
  color: #fbe9e7;
}

.button {
  background-color: #4db6ac;
  padding: 12px 22px;
  border-radius: 10px;
  font-family: "Varela Round", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  border: solid 0.1px #37474f;
  color: black;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.button:hover {
  background-color: #80cbc4;
}

.anime-card {
  width: 100%;
  text-align: center;
}

.anime-card .anime-image {
  max-height: 350px;
}

.anime-title {
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 10px;
}

footer p {
  text-align: center;
  font-size: 0.8em;
}

footer a {
  color: #4db6ac;
}
