body {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
}


.body-wrapper {
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.anime-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 1em;
}